In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [19]:
data = pd.read_csv('C:/Users/Slava/labs/avocado.csv')

In [20]:
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [21]:
X = data[['Total Volume', '4046', '4225', '4770']]
y = data['AveragePrice']

In [22]:
X = sm.add_constant(X)

In [23]:
model = sm.OLS(y, X).fit()

In [24]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           AveragePrice   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.049
Method:                 Least Squares   F-statistic:                     233.6
Date:                Wed, 17 Apr 2024   Prob (F-statistic):          5.47e-196
Time:                        12:15:59   Log-Likelihood:                -8838.2
No. Observations:               18249   AIC:                         1.769e+04
Df Residuals:                   18244   BIC:                         1.773e+04
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            1.4232      0.003    474.782      0.000       1.417       1.429
Total Volume  1.586e-08   8.13e-09      1.952      0.051   -6.88e-11    3.18e-08
4046         -1.281e-07   1.33e-08     -9.654      0.000   -1.54e-07   -1.02e-07
4225          5.395e-08   1.35e-08      3.991      0.000    2.74e-08    8.04e-08
4770         -3.968e-07   5.89e-08     -6.731      0.000   -5.12e-07   -2.81e-07
==============================================================================
Omnibus:                     1088.196   Durbin-Watson:                   0.202
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1297.739
Skew:                           0.624   Prob(JB):                    1.58e-282
Kurtosis:                       3.389   Cond. No.                     4.09e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.09e+06. This might indicate that there are
strong multicollinearity or other numerical problems.